name: CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
  workflow_dispatch: # on-demand/manual triggering

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        java: [ 8, 11, 17, 21, 25 ]
        distro: [ 'zulu' ]
    runs-on: ${{ matrix.os }}
    name: Test against Java ${{ matrix.java }} (${{ matrix.distro }} @ ${{ matrix.os }})
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup JDK ${{ matrix.java }} (${{ matrix.distro }} @ ${{ matrix.os }})
      uses: actions/setup-java@v5
      with:
        distribution: ${{ matrix.distro }}
        java-version: ${{ matrix.java }}
    - name: JDK version
      run: java -version
    - name: Test
      run: mvn -B test

  build:
    runs-on: ubuntu-latest
    needs: test
    name: Build project
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup JDK 8
      uses: actions/setup-java@v5
      with:
        distribution: zulu
        java-package: jdk
        java-version: 8
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Maven version
      run: mvn -v
    - name: Build with Maven
      run: mvn -B package
    - name: Upload artifacts
      uses: actions/upload-artifact@v5
      with:
        name: gha-sample-app
        path: |
          target/*.jar
          !target/original-*.jar

  automerge:
    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request' }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    name: Dependabot Automerge
    steps:
      - name: merge-dependabot
        uses: fastify/github-action-merge-dependabot@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
